# Configuration values for the backend and frontend applications.
# configure .env for local, .env.docker for docker-compose.


# backend/.env.example
CORS_ORIGINS=
AAS_BASE_URL=
AAS_SHELLS_URL=
BOM_ID=
NAMEPLATE_ID=
PRODUCTION_ORDERS_ID=

# frontend/.env.example
VITE_API_BASE_URL=
VITE_WS_BASE_URL=